<!-- CONTENT START -->
<?=$this->render('page-header')?>

<section class="content" id="PageProfile">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><?=($service->getId())?$service->getName():'Novo Registro'?></h3>
                    <?=$this->RegisterDetails($service)?>
                </div>
                <form class="" action="/<?=$controller?>/gravar" method="post" enctype="multipart/form-data">
                    <?=$this->formRowNoLabel($form->get('Id'))?>

                    <div class="box-body">
                        <?php $i=0; foreach($form->getElements() as $chave => $formItem){
                            if($chave == 'Id') continue;
                            if($formItem->getAttribute('type') == 'hidden'){
                                $formItem->setLabel('');
                                echo $this->formHidden($formItem);
                                continue;
                            }
                            ?>
                            <?php if($i==0){ ?> <div class="row"> <?php }; ?>
                            <div class="<?=$formItem->getAttribute('col')?>">
                                <div class="form-group">
                                    <label class="control-label"><?=$formItem->getLabel()?> <?=($formItem->getAttribute('required') == 'required' ? '<span class="required">*</span>' : '')?></label>
                                    <?php if($formItem->getAttribute('ImageField') == true){
                                        $file = $service->get($formItem->getName());
                                        echo '<div>'.$this->ShowAttach($file, 'md').'</div>';
                                    } ?>

                                    <?=$this->formRowNoLabel($formItem, $service->getId())?>

                                    <?php if($formItem->getAttribute('FieldAnexo') == true){?>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <?php foreach($service->fetchAttach() as $anexo){?>
                                                    <?=$this->ShowAttach($anexo)?>
                                                <?php };?>
                                            </div>
                                        </div>
                                    <?php }; ?>
                                </div>
                            </div>
                            <?php if($i==1){ ?> </div> <?php };?>
                            <?php if($i==1){$i=0;}else{$i++;}; ?>
                        <?php }; ?>
                        <?php if(!count($form->getElements()) % 2){ ?> </div> <?php };?>
            </div>

            <div class="box-footer">
                <div class="form-group hidden-print pull-right">
                    <a href="/<?=$controller?>" class="btn btn-default">Cancelar</a>
                    <?php if(!$this->service->getId()){?>
                        <button type="reset" class="btn btn-default">Limpar</button>
                    <?php }else{ ?>
                        <a href="/<?=$controller?>/excluir/<?=$this->service->getId()?>" class="btn btn-danger btn-confirma">Excluir</a>
                    <?php }; ?>
                    <button type="submit" class="btn btn-primary" data-insert="true">Salvar</button>
                </div>
            </div>
            </form>
        </div>
    </div></div>
    <?php if($service->getId()){?>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Usuários</h3>
                <div class="box-tools pull-right">
                    <?=$this->ControlAccess('button','Adicionar Usuário','acl-profile','add-users',$service,['class'=>'btn btn-primary btn-sm add-users','data-id'=>$service->getId()],'plus')?>
                </div>
            </div>
            <div class="box-body no-padding">
                <table class="table">
                    <?php foreach($service->getUsers() as $user){?>
                        <tr>
                            <td style="width: 95%">
                                <?=$user->offsetData['NAME']?>
                            </td>
                            <td>
                                <?=$this->ControlAccess('link','Excluir','acl-profile','delete-user',$user,[],'times',true)?>
                            </td>
                        </tr>
                    <?php }; ?>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Serviços</h3>
                <div class="box-tools pull-right">
                    <?=$this->ControlAccess('button','Adicionar Serviço','acl-profile','add-service',$service,['class'=>'btn btn-primary btn-sm add-service','data-id'=>$service->getId()],'plus')?>
                </div>
            </div>
            <div class="box-body no-padding">
                <table class="table">
                    <?php foreach($service->getServices() as $service){?>
                        <tr>
                            <td style="width: 95%">
                                <?=$service->offsetData['SERVICE_NAME']?>
                            </td>
                            <td>
                                <?=$this->ControlAccess('link','Excluir','acl-profile','delete-service',$service,[],'times',true)?>
                            </td>
                        </tr>
                    <?php }; ?>
                </table>
            </div>
        </div>
    <?php }; ?>
    </div>
</section>
<!-- CONTENT END -->

<div class="modal fade" id="modal-users">
    <div class="modal-dialog modal-very-lg">
        <form action="/acl-profile/add-users" method="post">
            <input type="hidden" value="<?=$service->getId()?>" name="IdProfile">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Adicionar usuários ao perfil</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal-services">
    <div class="modal-dialog modal-very-lg">
        <form action="/acl-profile/add-services" method="post">
            <input type="hidden" value="<?=$service->getId()?>" name="IdProfile">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Adicionar serviços ao perfil</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

