<table class="table table-condensed table-service datatable" data-table-obj="service">
    <thead>
    <tr>
        <th class="icon">#</th>
        <th>Nome</th>
        <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($lista as $item){ ?>
        <tr>
            <td class="icon">
                <input type="checkbox" name="service[]" value="<?=$item->ID?>">
            </td>
            <td>
                <?=$item->NAME?>
            </td>
            <td>
                <?=$item->DESCRIPTION?>
            </td>
        </tr>
    <?php }; ?>
    </tbody>
</table>