<table class="table table-condensed table-users datatable" data-table-obj="table-users">
    <thead>
    <tr>
        <th class="icon">#</th>
        <th>Nome</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($lista as $item){ ?>
        <tr>
            <td class="icon">
                <input type="checkbox" name="user[]" value="<?=$item->ID?>">
            </td>
            <td>
                <?=$item->NAME?>
            </td>
            <td>
                <?=$item->EMAIL?>
            </td>
        </tr>
    <?php }; ?>
    </tbody>
</table>