<?php $this->layout('error/layout'); ?>
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow">500</h2>
        <div class="error-content">
            <br>
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Erro na aplicação.</h3>
            <p>
                Houve um erro ao processar sua solicitação. <br>
                Entre em contato com o administrador do sistema para que o mesmo possa lhe ajudar!
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>

<?php if(APPLICATION_ENV == 'development'){ ?>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header">
                        <h3 class="box-title"><?php echo $this->message ?></h3>
                    </div>
                    <div class="box-body">

                        <?php if (isset($this->display_exceptions) && $this->display_exceptions): ?>

                            <?php if(isset($this->exception) && $this->exception instanceof Exception): ?>
                                <hr/>
                                <h2><?php echo $this->translate('Additional information') ?>:</h2>
                                <h3><?php echo get_class($this->exception); ?></h3>
                                <dl>
                                    <dt><?php echo $this->translate('File') ?>:</dt>
                                    <dd>
                                        <pre class="prettyprint linenums"><?php echo $this->exception->getFile() ?>:<?php echo $this->exception->getLine() ?></pre>
                                    </dd>
                                    <dt><?php echo $this->translate('Message') ?>:</dt>
                                    <dd>
                                        <pre class="prettyprint linenums"><?php echo $this->escapeHtml($this->exception->getMessage()) ?></pre>
                                    </dd>
                                    <dt><?php echo $this->translate('Stack trace') ?>:</dt>
                                    <dd>
                                        <pre class="prettyprint linenums"><?php echo $this->escapeHtml($this->exception->getTraceAsString()) ?></pre>
                                    </dd>
                                </dl>
                                <?php
                                $e = $this->exception->getPrevious();
                                if ($e) :
                                    ?>
                                    <hr/>
                                    <h2><?php echo $this->translate('Previous exceptions') ?>:</h2>
                                    <ul class="unstyled">
                                        <?php while($e) : ?>
                                            <li>
                                                <h3><?php echo get_class($e); ?></h3>
                                                <dl>
                                                    <dt><?php echo $this->translate('File') ?>:</dt>
                                                    <dd>
                                                        <pre class="prettyprint linenums"><?php echo $e->getFile() ?>:<?php echo $e->getLine() ?></pre>
                                                    </dd>
                                                    <dt><?php echo $this->translate('Message') ?>:</dt>
                                                    <dd>
                                                        <pre class="prettyprint linenums"><?php echo $this->escapeHtml($e->getMessage()) ?></pre>
                                                    </dd>
                                                    <dt><?php echo $this->translate('Stack trace') ?>:</dt>
                                                    <dd>
                                                        <pre class="prettyprint linenums"><?php echo $this->escapeHtml($e->getTraceAsString()) ?></pre>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <?php
                                            $e = $e->getPrevious();
                                        endwhile;
                                        ?>
                                    </ul>
                                <?php endif; ?>

                            <?php else: ?>

                                <h3><?php echo $this->translate('No Exception available') ?></h3>

                            <?php endif ?>

                        <?php endif ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php }; ?>
