<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>APP2B</title>
    <link rel="icon" href="/assets/img/icon/favicon.png" type="image/vnd.microsoft.icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- CUSTOM -->
    <link rel="stylesheet" href="/custom/css/custom.css">
</head>
<body>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="/assets/img/logo/app2b-logo.png" alt="" width="200px">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h3>Framework is loaded :)</h3>
                    <h4>Layout File</h4>
                    <span>Site\view\layout\layout-site.phtml</span>
                    <h4>Content File</h4>
                    <span>Site\view\site\site\{action}.phtml</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>