<?=$this->render('page-header')?>

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Alterar Senha</h3>
                </div>
                <form class="" action="/user/gravar-senha" method="post">
                    <?= $this->formRowNoLabel($form->get('Id')) ?>

                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label class="control-label">Senha Atual*</label>
                                    <?= $this->formRowNoLabel($form->get('SenhaAtual')) ?>
                                </div>

                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label class="control-label">Nova Senha*</label>
                                    <?= $this->formRowNoLabel($form->get('Password')) ?>
                                </div>

                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label class="control-label">Confirmar Nova Senha*</label>
                                    <?= $this->formRowNoLabel($form->get('ConfirmarSenha')) ?>
                                </div>

                            </div>
                        </div>

                        <?=$this->FormButtons($controller,$service)?>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>