<?=$this->render('page-header')?>

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><?=($service->getId())?$service->getName():'Novo Registro'?></h3>
                </div>
                <form class="" action="/user/gravar" method="post" enctype="multipart/form-data">
                    <?= $this->formRowNoLabel($form->get('Id')) ?>

                    <div class="box-body">

                        <div class="form-group">
                            <label class="control-label">Nome Completo <span class="required">*</span></label>
                            <?= ($service->getId())?$this->formRowNoLabel($form->get('Name')->setAttribute('readOnly','readOnly')):$this->formRowNoLabel($form->get('Name')) ?>
                        </div>

                        <div class="form-group">
                            <label class="control-label">E-mail<span class="required">*</span></label>
                            <?= $this->formRowNoLabel($form->get('Email')) ?>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Login<span class="required">*</span></label>
                            <?= ($service->getId())?$this->formRowNoLabel($form->get('Login')->setAttribute('readOnly','readOnly')):$this->formRowNoLabel($form->get('Login')) ?>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Cargo</label>
                            <?= $this->formRowNoLabel($form->get('Occupation')) ?>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Foto Profile</label>
                            <?= $this->formRowNoLabel($form->get('ProfileImage')) ?>
                        </div>

                        <?php if(!$service->getId()){?>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Senha<span class="required">*</span></label>
                                        <?= $this->formRowNoLabel($form->get('Password')) ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Confirmar Senha<span class="required">*</span></label>
                                        <?= $this->formRowNoLabel($form->get('ConfirmarSenha')) ?>
                                    </div>
                                </div>
                            </div>

                        <?php }; ?>

                        <div class="form-group">
                            <label class="control-label">Observações</label>
                            <?= $this->formRowNoLabel($form->get('Comments')) ?>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="form-group hidden-print pull-right">
                            <a href="/user" class="btn btn-default">Cancelar</a>
                            <?php if(!$this->service->getId()){?>
                                <button type="reset" class="btn btn-default">Limpar</button>
                            <?php }else{ ?>
                                <a href="/user/alterar-senha" class="btn btn-warning">Alterar Senha</a>
                                <a href="/user/excluir/<?=$this->service->getId()?>" class="btn btn-danger btn-confirma">Excluir</a>
                            <?php }; ?>
                            <button type="submit" class="btn btn-success" data-submit="true">Salvar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>
