<?=$this->render('mensagens')?>
<div class="login-box">
    <div class="login-logo">

    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="text-center">
            <img src="/assets/img/logo/logo-black-w400.png" alt="Costa&Silva" width="200px">
        </div>
        <hr>

        <form action="/user/autenticar" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="Login" placeholder="Login" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="Password" placeholder="Senha" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success btn-block btn-flat">Entrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <br>


    </div>

    <div class="text-center" style="font-size: 11px">
        <br>
        <p style="margin:0"><strong>Copyright &copy; 2017 <a href="http://app2b.me"><span class="text-black">APP</span><span class="text-orange bold">2</span><span class="text-black">B</span></a>.</strong></p>
        <p style="margin:0"><b>Version</b> <?=$this->Version()?></p>
        <p style="margin:0"><b>Amb</b> <?=APPLICATION_ENV?></p>
    </div>

    <!-- /.login-box-body -->
</div>