<div class="login-box">
    <div class="login-box-body text-center">

        <div class="text-center">
            <img src="/assets/img/logo/app2b-logo.png" alt="APP2B" width="200px">
        </div>
        <hr>

        <p class="login-box-msg">Informe o seu login para que o processo de alteração de senha seja enviada por e-mail.</p>

        <form action="/user/enviar-nova-senha" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4 col-md-offset-8">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <br>

        <a href="/user/entrar">Lembrou sua senha?</a><br>

    </div>
    <!-- /.login-box-body -->
</div>