<?=$this->render('page-header')?>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
<!--                    <h3 class="box-title">Usuários Cadastrados</h3>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover table-striped table-condensed datatable" data-table-obj="user">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>login</th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach($lista as $item){?>
                            <tr data-href="/user/cadastro/<?=$item->getId()?>">
                                <td><?=$item->getName()?></td>
                                <td><a href="/"><?=$item->getLogin()?></a></td>
                            </tr>
                        <?php }; ?>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>