<?=$this->render('mensagens')?>
<?php
$usuario = $this->UsuarioLogado();
$projeto = $this->Projeto();
?>

<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
        <img src="/assets/img/logo/logo-black-w400.png" alt="" class="" width="200px">
    </div>
    <!-- User name -->
    <div class="lockscreen-name"><?=$usuario['Name']?></div>

    <!-- START LOCK SCREEN ITEM -->
    <div class="lockscreen-item">
        <!-- lockscreen image -->
        <div class="lockscreen-image">
            <?=$this->ShowAttach($usuario['ProfileImage'],false,'user-image')?>
        </div>
        <!-- /.lockscreen-image -->

        <!-- lockscreen credentials (contains the form) -->
        <form action="/user/unlock-screen" method="post" autocomplete="off" class="lockscreen-credentials">
            <div class="input-group">
                <input type="hidden" name="Login" class="form-control" value="<?=$usuario['Login']?>">
                <input type="password" name="Password" class="form-control" placeholder="senha" required="required">

                <div class="input-group-btn">
                    <button type="submit" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
                </div>
            </div>
        </form>
        <!-- /.lockscreen credentials -->

    </div>
    <!-- /.lockscreen-item -->
    <div class="help-block text-center">
        Digite sua senha para desbloquear o acesso
    </div>
    <div class="text-center">
        <a href="/user/sair">Entrar com outro usuário.</a>
    </div>
    <div class="lockscreen-footer text-center">
        <div class="text-center" style="font-size: 11px">
            <br>
            <p style="margin:0"><strong>Copyright &copy; 2017 <a href="http://app2b.me"><span class="text-black">APP</span><span class="text-orange bold">2</span><span class="text-black">B</span></a>.</strong></p>
            <p style="margin:0"><b>Version</b> <?=$this->Version()?></p>
        </div>
    </div>
</div>