<div id="login">
    <div class="well">
        <form class="" action="/user/processo-alteracao-senha/<?=$dados['Hash']?>" method="post">

            <fieldset>

                <legend class="text-center"><i class="fa fa-diamond"></i>&nbsp;Soulu Manager</legend>

                <div class="row">
                    <div class="col-md-12">
                        <p>Defina uma nova senha de acesso.</p>
                        <p class="small">A senha deve conter no mínimo 8 e no máximo 16 caracteres, pelo menos um número e uma letra. A senha não pode conter caracteres especiais, com exceção do arroba "@".</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <input type="hidden" name="Hash" value="<?=$dados['Hash']?>">

                        <div class="form-group">
                            <label class="control-label">Nova Senha*</label>
                            <input type="password" class="form-control" name="Senha">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Confirmar Nova Senha*</label>
                            <input type="password" class="form-control" name="ConfirmarSenha">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group hidden-print pull-right">
                            <button type="submit" class="btn btn-inverse">Alterar</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="small">Lembrou da senha antiga? Clique <a href="/user/entrar">aqui</a> para entrar.</p>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <?=$this->render('manager-footer');?>
</div>