<!-- CONTENT START -->
<?=$this->render('page-header')?>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><?=($service->getId())?$service->getName():'Novo Registro'?></h3>
                    <?=$this->RegisterDetails($service)?>
                </div>
                <form class="" action="/<?=$controller?>/gravar" method="post" enctype="multipart/form-data">
                    <?=$this->formRowNoLabel($form->get('Id'))?>

                    <div class="box-body">
                        <div class="row">
                            <?php $tableRel = ''; $i=0; foreach($form->getElements() as $chave => $formItem){
                                if($chave == 'Id') continue;
                                if(preg_match('/TableRel-/',$formItem->getName())){
                                    $tableRel = $formItem;
                                    continue;
                                }
                                if($formItem->getAttribute('type') == 'hidden'){
                                    $formItem->setLabel('');
                                    echo $this->formHidden($formItem);
                                    continue;
                                }
                                ?>

                                <div class="<?=$formItem->getAttribute('col')?>">
                                <?php
                                    if($formItem->getAttribute('type') == 'checkbox'){
                                        echo $this->formRowNoLabel($formItem);
                                        echo '</div>';
                                        continue;
                                    }
                                ?>
                                    <div class="form-group">
                                        <label class="control-label"><?=$formItem->getLabel()?> <?=($formItem->getAttribute('required') == 'required' ? '<span class="required">*</span>' : '')?></label>
                                        <?php if($formItem->getAttribute('ImageField') == true){
                                            $file = $service->get($formItem->getName());
                                            echo '<div>'.$this->ShowAttach($file, 'md').'</div>';
                                        } ?>

                                        <?=$this->formRowNoLabel($formItem, $service->getId())?>

                                        <?php if($formItem->getAttribute('FieldAnexo') == true){?>
                                            <br/>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <?php foreach($service->fetchAttach() as $anexo){?>
                                                        <?=$this->ShowAttach($anexo)?>
                                                    <?php };?>
                                                </div>
                                            </div>
                                        <?php }; ?>
                                    </div>
                                </div>
                            <?php }; ?>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <?php if($tableRel) : ?>
                                    <?=$this->formRowNoLabel($tableRel, $service->getId())?>
                                <?php endif; ?>
                            </div>
                        </div>

                    </div>

                    <?=$this->FormButtons($controller,$service)?>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- CONTENT END -->
