<!-- CONTENT START -->
<?php
   /** @var $form \Tribunal\Form\Job */
   /** @var $lista \Tribunal\Service\Job[] */
?>
<?=$this->render('page-header')?>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table table-bordered table-hover table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th class="hidden-xs hidden-sm" >Data última coleta começou</th> 
                                <th class="hidden-xs hidden-sm" >Tribunal</th> 
                                <th class="hidden-xs hidden-sm" >URL processo</th> 
                                <th class="hidden-xs hidden-sm" >Método a chamar</th> 
                                <th class="hidden-xs hidden-sm" >Site online?</th> 
                                <th class="hidden-xs hidden-sm" ></th> 
                                <th class="hidden-xs hidden-sm" ></th> 
                                <th class="hidden-xs hidden-sm" ></th> 
                                <th class="hidden-xs hidden-sm" ></th> 
                                
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($lista as $item){  ?>
                                <tr data-href="/<?=$controller?>/cadastro/<?=$item->getId()?>">
                                    <td class="hidden-xs hidden-sm"><?=$this->Datetime($item->getDtInclusao(),false,false,'d/m/Y H:i:s')?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$item->getNumIntProcesso()?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$item->getDesComarca()?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$item->getNomAutor()?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$this->MascaraNumero($item->getCpfAutor(),'cpf')?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$item->getNomReu()?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$item->getNomJuizo()?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$item->getLabelUf()?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$item->getNumProcJust()?></td> 
                                
                                </tr>
                            <?php }; ?>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
<!-- CONTENT END -->