<!-- Content Header (Page header) -->
<?=$this->render('page-header')?>

<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-widget">
                <div class="box-header">
                    <h3 class="box-title">Total de processos por tribunal</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <?php foreach ($totais as $tribunal => $total) : ?>
                            <li><a href="#"><?= $tribunal ?> <span class="pull-right badge bg-info"><?= $total ?></span></a></li>
                        <?php endforeach;?>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-widget">
                <div class="box-header">
                    <h3 class="box-title">Total de processos processados por tribunal</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <?php foreach ($processados as $tribunal => $total) : ?>
                            <li><a href="#"><?= $tribunal ?> <span class="pull-right badge bg-green"><?= $total ?></span></a></li>
                        <?php endforeach;?>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>