<!-- CONTENT START -->
<?php
/** @var $form \Tribunal\Form\Processo */
/** @var $lista \Tribunal\Service\Processo[] */
?>
<?= $this->render('page-header') ?>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/tribunal-processo" method="post">
                                <div class="row">
                                    <?php $tableRel = '';
                                    $i = 0;
                                    foreach ($form->getElements() as $chave => $formItem) {
                                        if (!in_array($formItem->getName(), ['IdTribunal','Processo'])) continue;

                                        if ($formItem->getName() == 'Processo') {
                                            $formItem->setAttribute('required',false);
                                            $classes = str_replace('input-error','',$formItem->getAttribute('class'));
                                            $formItem->setAttribute('class',$classes);
                                        }
                                        ?>

                                        <div class="col-md-12">
                                            <?php
                                            if ($formItem->getAttribute('type') == 'checkbox') {
                                                echo $this->formRowNoLabel($formItem);
                                                echo '</div>';
                                                continue;
                                            }
                                            ?>
                                            <div class="form-group">
                                                <label class="control-label"><?= $formItem->getLabel() ?> <?= ($formItem->getAttribute('required') == 'required' ? '<span class="required">*</span>' : '') ?></label>

                                                <?= $this->formRowNoLabel($formItem, $service->getId()) ?>

                                            </div>
                                        </div>
                                    <?php }; ?>

                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-default btn-flat">Filtrar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <br>
                    <h5><b>Resultado do filtro</b> <?= ($total) ? '| '.$total.' processo(s)' : '' ?></h5>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-condensed datatable">
                            <thead>
                            <tr>
                                <th class="hidden-xs hidden-sm">Nro Processo</th>
                                <th class="hidden-xs hidden-sm">Registro Tem Alteração?</th>
                                <th class="hidden-xs hidden-sm">Processado Hoje?</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($lista as $item) { ?>
                                <tr data-href="/<?= $controller ?>/cadastro/<?= $item->getId() ?>">
                                    <td class="hidden-xs hidden-sm"><?= $item->getProcesso() ?></td>
                                    <td class="hidden-xs hidden-sm"><?= $item->getLabelAlteracao(true) ?></td>
                                    <td class="hidden-xs hidden-sm"><?= $item->getLabelProcessado(true) ?></td>
                                </tr>
                            <?php }; ?>
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
<!-- CONTENT END -->