<!-- CONTENT START -->
<?php
   /** @var $form \Tribunal\Form\Tribunal */
   /** @var $lista \Tribunal\Service\Tribunal[] */
?>
<?=$this->render('page-header')?>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <ul>
                        <?php foreach($files as $file){  ?>
                            <li><a href="/<?=$controller?>/executesql/<?=$file?>" target="_blank"><?=$file?></a></li>
                        <?php }; ?>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
<!-- CONTENT END -->