<!-- CONTENT START -->
<?php
   /** @var $form \Tribunal\Form\Tribunal */
   /** @var $lista \Tribunal\Service\Tribunal[] */
?>
<?=$this->render('page-header')?>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table table-bordered table-hover table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th class="hidden-xs hidden-sm" >Tribunal</th> 
                                <th class="hidden-xs hidden-sm" >Método a chamar</th>
                                <th class="hidden-xs hidden-sm" >UF</th>
                                <th class="hidden-xs hidden-sm" >Site online?</th>
                                <th class="hidden-xs hidden-sm" >Coletando?</th> 
                                <th class="hidden-xs hidden-sm" >Data última coleta começou</th>
                                <th class="hidden-xs hidden-sm" >Data última coleta terminou</th>

                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($lista as $item){  ?>
                                <tr data-href="/<?=$controller?>/cadastro/<?=$item->getId()?>">
                                    <td class=""><?=$item->getName()?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$item->getCallMethod()?></td>
                                    <td class="hidden-xs hidden-sm"><?=$item->getUf()?></td>
                                    <td class="hidden-xs hidden-sm"><?=$item->getLabelOnline(true)?></td>
                                    <td class="hidden-xs hidden-sm"><?=$item->getLabelColetando(true)?></td>
                                    <td class="hidden-xs hidden-sm"><?=$this->Datetime($item->getDtUltimaColetaComecou(),false,false,'d/m/Y H:i:s')?></td>
                                    <td class="hidden-xs hidden-sm"><?=$this->Datetime($item->getDtUltimaColetaTerminou(),false,false,'d/m/Y H:i:s')?></td>

                                </tr>
                            <?php }; ?>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
<!-- CONTENT END -->