<section class="content">
    <div id="box-container" class="custom-scroll custom-scroll-y">
        <?php foreach ($files as $fileName => $log) : ?>
            <?php
            $border = ($log) ? 'box-danger' : 'box-success';
            if($fileName == 'cycle.txt') $border = 'box-primary';
            $fileNameFriendly = ucfirst(str_replace('.txt','',$fileName));
            ?>
            <div class="box <?= $border ?>">
                <div class="box-header with-border">
                    <h3 class="box-title"><?= $fileNameFriendly ?></h3>
                    <div class="box-tools pull-right">
                        <a href="/delete-log/<?= str_replace('.txt','',$fileName) ?>" class="btn btn-box-tool" title="Apagar log"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="box-body custom-scroll custom-scroll-y">
                    <?= nl2br($log) ?>
                </div>
                <!-- /.box-body -->
            </div>
        <?php endforeach;?>
    </div>
</section>