<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Processos Tribunal <?= $tribunal ?></h3>
        </div>
        <div class="box-body">
            <pre>
                <?= json_encode(json_decode($data,true),JSON_UNESCAPED_UNICODE|JSON_PRETTY_PRINT); ?>
            </pre>
        </div>
    </div>
</section>