<?=$this->render('page-header')?>

<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Tribunais</h3>
        </div>
        <div class="box-body">
            <?php foreach ($files as $fileName) : ?>
                <?php
                $fileNameFriendly = ucfirst(str_replace('.json','',$fileName));
                $fileNameFriendly = str_replace(['inst','Inst','Tj'],'',$fileNameFriendly);
                $uf = substr($fileNameFriendly,0,2);
                $inst = substr($fileNameFriendly,2,1);
                $fileNameFriendly = strtoupper($uf) . ' ' .$inst. '° Instância';
                ?>
                <a href="/tribunais/<?= $fileName ?>" class="btn btn-default"><?= $fileNameFriendly ?></a>
            <?php endforeach;?>

            <?php if($data) : ?>
                <?php
                    $descriptionSelected = (isset($description[$tribunalSelected])) ? $description[$tribunalSelected] : [];
                    $arr = json_decode($data,true);
                    $countProcessos = count($arr);
                ?>
                <h3>Processos Tribunal <?= $tribunal ?></h3>
                <?php if(isset($descriptionSelected['total'])) : ?>

                    <h5><?= $descriptionSelected['total'].' processo(s) encontrado(s)' ?></h5>

                <?php else : ?>

                    <h5><?= ($countProcessos) ? $countProcessos.' processo(s) encontrado(s)' : '' ?></h5>

                <?php endif; ?>

                <?php if(isset($descriptionSelected['pesquisa'])) : ?>
                    <p><b>Argumento de pesquisa: </b><?= $descriptionSelected['pesquisa'] ?></p>
                <?php endif; ?>

                <?php if(isset($descriptionSelected['obs'])) : ?>
                    <p><b>Obs.: </b><?= $descriptionSelected['obs'] ?></p>
                <?php endif; ?>

                <pre>
                    <?= json_encode($arr,JSON_UNESCAPED_UNICODE|JSON_PRETTY_PRINT); ?>
                </pre>
            <?php endif; ?>

        </div>
    </div>
</section>