<!-- CONTENT START -->
<?php
/** @var $lista \Manager\Service\Log[] */
?>
<?=$this->render('page-header')?>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table table-bordered table-hover table-striped table-condensed datatable" data-table-obj="log" data-columnOrder="0,desc" data-columnDefs='{"type": "date-uk", "targets": [0]}'>
                        <thead>
                        <tr>
                            <th class="">Criado Data/Hora</th>
                            <th class="">Criado Por</th>
                            <th class="">Tipo</th>
                            <th class="">Ip</th>
                            <th class="">Hostname</th>
                            <th class="">Browser</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($lista as $item){  ?>
                            <tr>
                                <td class=""><?=$this->Datetime($item->getDtCreated(),false,false,'d/m/Y H:i:s')?></td>
                                <td class=""><?=$item->getUserCreated()->getName()?></td>
                                <td class=""><?=$item->typeMap($item->getType())?></td>
                                <td class=""><?=$item->getIp()?></td>
                                <td class=""><?=$item->getHostname()?></td>
                                <td class=""><?=$item->getBrowser()?></td>
                            </tr>
                        <?php }; ?>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
<!-- CONTENT END -->