@font-face {
    font-family: "Peugeot";
    src: url("../../assets/fonts/peugeot_normal.eot");
    src: url("../../assets/fonts/peugeot_normal.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/peugeot_normal.woff") format("woff"), url("../../assets/fonts/peugeot_normal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Peugeot Bold";
    src: url("../../assets/fonts/peugeot_bold.eot");
    src: url("../../assets/fonts/peugeot_bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/peugeot_bold.woff") format("woff"), url("../../assets/fonts/peugeot_bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

* {
    font-family: Peugeot;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Peugeot;
}

html {
    font-size: 0;
}

/*COLORS*/
.skin-green .box.box-primary {
    border-top-color: #00a65a;
}

/*HEADERS*/
.content-header a.btn {
    float: left;
    padding: 2px 12px;
}

.content-header a.btn {
    margin-right: 15px;
}

.user-panel img {
    border:none !important;
}
img.user-image,
img.user-image:hover {
    border:none !important;
}

.user-panel.normal > .info {
    color: #333;
}

.register-details .description {
    font-size: 10px;
}

.sidebar-container {
    padding: 15px;
}

/*CONTAINERS*/
.container-400 {
    max-height:400px;
    overflow: auto;
}

#submenu {
    position: fixed;
    background-color: #2c3b41;
    z-index: 999;
    border-radius: 1px;
}
#submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#submenu ul li {
    padding: 10px 15px 10px 15px;
    border-left: 3px solid transparent;
}
#submenu ul li:hover {
    background-color: #1e282c;
    border-left-color: #3c8dbc;
}
#submenu ul li a {
    color: #b8c7ce;
    font-weight: bold;
}
#submenu ul li:hover a {
    color: #fbfbfb;
}
#submenu ul li a i.fa {
    margin-right: 10px;
}

#submenu.clear {
    background-color: #f4f4f4;
    border: 1px solid #efefef;
    border-left:0;
    box-shadow: -1px -1px 6px #aaa;
}
#submenu.clear ul li:hover {
    background-color: #efefef;
    border-left-color: #3c8dbc;
}
#submenu.clear ul li a {
    color: #2c3b41;
    font-weight: bold;
}
#submenu.clear ul li:hover a {
    color: #2c3b41;
}
#submenu.small ul li {
    padding: 6px 10px 6px 10px;
}

/*FOOTER*/
.main-footer {
    font-size: 12px;
}

/*BUTTONS*/
.btn-clear {
    background-color: transparent;
    border: none;
}

.btn.btn-fab, .btn.btn-fab .ripple-wrapper {
    border-radius: 100%;
}
.btn.btn-fab, .btn.btn-fab:hover {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
}
.btn.btn-fab {
    margin: 0;
    padding: 15px;
    font-size: 26px;
    width: 56px;
    height: 56px;
}
.btn.btn-raised {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

.btn.btn-fab i.fa {
    position: relative;
    top: -2px;
    margin: 0 auto;
}

.btn.btn-fab.btn-fab-mini {
    width: 40px;
    height: 40px;
    padding: 13px 0;
    font-size: 15px;
}

.btn-fab-mini i.fa {
    font-size: 18px;
}

.btn-info:not(.btn-link):not(.btn-flat) {
    background-color: #03a9f4;
    color: rgba(255,255,255,.84);
}

.btn.btn-icon-text .fa {
    vertical-align: middle;
    margin-right:4px;
}

.btn-group-sm>.btn, .btn-xs {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.3;
}

/*BOTÃO MENU FLOAT*/
.menu-float-container {
    width: 56px;
    position: fixed;
    top:40px;
    left:20px;
    display: none;
    z-index: 999;
}
body:not(.sidebar-collapse) .menu-float-container {
    left:188px;
}
.menu-float {
    float: left;
    display: none;
}
.menu-float.btn-fab:not(.btn-fab-mini) i.fa {
    position: relative;
    top: -7px;
    font-size: 21px;
}

.menu-float.btn-fab.btn-fab-mini {
    margin-left:8px;
    margin-top:5px;
}

.menu-float.trigger-submit{
    /*left: 28px;*/
    /*top: 95px;*/
}

.skin-blue .menu-float {
    color: white;
    background-color: #367fa9;
    border-color: #376e98;
}
.skin-blue .menu-float:active {
    background-color: #376e98;
    border-color: #376e98;
}

.skin-orange .menu-float {
    color: white;
    background-color: #f39c12;
    border-color: #e08e0b;
}
.skin-orange .menu-float:active {
    background-color: #e08e0b;
    border-color: #e08e0b;
}

.skin-green .menu-float {
    color: white;
    background-color: #00a65a;
    border-color: #008548;
}
.skin-green .menu-float:active {
    background-color: #008548;
    border-color: #008548;
}



/*MENSAGENS DE ERRO E SUCESSO*/
.container-alertas {
    /*zoom: 75%;*/
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99999;
    margin-left: 30px;
    /*width: calc(100% - 60px);*/
    width: 50%;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.container-alertas .alert {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.container-alertas .alert li{
    list-style-type: none;
}
.alert > ul {
    padding-left: 0;
    padding-top: 5px;
}
.alert > ul {
    font-size: 12px;
}
.alert strong {
    font-size: 16px;
}

img.anexos {
    height: auto;
    width: 45px;
}
img.anexos-md {
    height: 120px;
    width: auto;
}
img[data-action="img-link"]{
    cursor: pointer;
    border:1px solid #ccc;
}
img[data-action="img-link"]:hover{
    border-color:#000;
}
img.img-rounded {
    border-radius: 2px;
}
tr[data-href]:hover{
    cursor: pointer;
}

/*TABLE*/
table {
    background-color: #fbfbfb;
}
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 4px;
}
.table-condensed>tbody>tr>td {
    font-size: 12px;
}
table.table thead th {
    border: 2px solid #ccc;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

table.table tbody tr:hover td{
    background-color: #FAFFBD;
}

.table.dataTable>tbody>tr>th.icon.sorting*::after {
    content: "" !important;
}
.table>thead>tr>th.icon,
.table>tbody>tr>td.icon {
    width: 50px;
    text-align: center !important;
    vertical-align: middle !important;
}

table.table tbody tr.text-xs td {
    font-size: 11px;
}

table.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #efefef;
}

table.table-app2b{
    border-top: 1px solid #3c8dbc;
}
table.table-app2b tbody{
    border-bottom: 1px solid #C1C3D1;
    border-left: 1px solid #C1C3D1;
}

table.table-app2b thead tr th{
    border-bottom: 3px solid #3c8dbc;
    border-right: 1px solid #3c8dbc;
    border-left: 1px solid #3c8dbc;
    font-weight: 100;
    font-size: 12px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

table.table-app2b tbody tr:nth-child(even){
    background-color: #f2f2f2 !important;
}

table.table-app2b tbody tr td{
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

table.table tbody tr td a.btn-confirma {
    color: #f56954;
}

td.select2-sm .select2-selection {
    padding: 0px 10px;
    height: 20px;
    font-size: 10px;
}
td.select2-sm .select2-selection .select2-selection__arrow {
    height: 14px;
}
td.select2-sm-whole .select2 {
    zoom: 0.64;
}

/*TABLE REL*/
div.table-rel-container {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top:0;
    padding: 15px;
}
div.table-rel-container label.control-label {
    font-size: 14px;
    border-left: 3px solid #3c8dbc;
    padding-left: 5px;
}
.tableRelButton {
    margin-bottom: 15px !important;
}

div.table-rel-container table tr {
    cursor: pointer;
}

div.table-rel-container table tr > td:first-child,
div.table-rel-container table tr > th:first-child {
    border-left: 4px solid #ccc !important;
}
div.table-rel-container table tr:hover > td:first-child {
    border-left: 4px solid #3c8dbc !important;
}
div.table-rel-container table tr > th {
    font-size: 80%;
}
div.table-rel-container div.table-container {
    margin-top:5px;
}


/*DATATABLE*/
.datatable tr > td:first-child, .datatable tr > th:first-child{
    border-left: 4px solid #ccc !important;
}

.datatable tr[data-href]:hover > td:first-child{
    border-left: 4px solid #3c8dbc !important;
}
table.datatable tr > td:first-child,
table.datatable tr > th:first-child {
    border-left: 4px solid #ccc;
}
table.datatable tr:hover > td:first-child {
    border-left: 4px solid #3c8dbc !important;
}

.skin-green .datatable tr[data-href]:hover > td:first-child{
    border-left-color: #00a65a !important;
}
.skin-green table.datatable tr:hover > td:first-child {
    border-left-color: #00a65a !important;
}

table.datatable th,
table.datatable td {
    cursor: pointer;
}
table.datatable td.dataTables_empty {
    text-align: center;
}
div.dataTables_info {
    font-size: 12px;
}
table.dataTable.table-condensed thead .sorting_asc:after,
table.dataTable.table-condensed thead .sorting_desc:after,
table.dataTable.table-condensed thead .sorting:after {
    font-size: 11px;
}
table.dataTable.table-condensed thead > tr > th {
    padding-right: 4px;
}
.pagination>li>a,
.pagination>li>span {
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 0 !important;
}
.pagination>.active>a {
    background-color: #3c8dbc;
}
.skin-green .pagination>.active>a {
    background-color: #00a65a;
}
.pagination .previous a {
    border-right:0 !important;
}
.pagination .next a {
    border-left:0 !important;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    background-color: #f5f5f5;
}

/*DATATABLE SEARCH*/
.clearSearchBtn {
    position: absolute;
}
tr.search th {
    padding:0 !important;
}
tr.search .form-group {
    margin: 0;
    position: relative;
    width: 100%;
}

tr.search input.form-control {
    height: 24px;
    width: 100%;
    border-width: 0 0 1px 0;
    border-color: transparent;
}
tr.search input.form-control:focus {
    border-color: #3c8dbc;
}

.search .table-search .fa {
    font-size: 10px;
    top: 6px;
    left: 4px;
    position: absolute;
    color: #D6D6D6;
}

.search .table-search .fa.off {
    display: none;
}

table.datatable.reorder tbody tr td:first-child {
    cursor: move;
}
tr.dt-rowReorder-moving {
    background-color: #FAFFBD !important;
}

/*FORMS*/

label {
    font-size: 12px;
}

select.input-sm {
    padding-left: 7px;
}

.select2{
    width: 100% !important;
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    padding: 5px 10px;
    height: 30px;
    font-size: 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 24px;
}
.select2-container .select2-selection--multiple {
    height:initial;
    min-height: 30px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 1px;
    margin-top: 3px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:first-child {
    margin-left: 4px;
}
.select2-container .select2-search--inline .select2-search__field {
    margin-top: 2px;
    height: 22px;
}
.select2-container .select2-selection .select2-selection__rendered li {
    font-size: 12px;
}
.form-group.buttons {
    font-size: 0px;
}
.form-group.checkbox,
.form-group.radio {
    margin-top: 22px;
    margin-bottom: 0;
}

.form-group.checkbox label,
.form-group.radio label {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
}

.form-group > ul > li {
    display: none;
}

.skin-green .form-control:focus {
    border-color: #00a65a;
}

.datepicker {
    border-radius: 0;
    padding: 5px 10px;
}

/*select with fontawesome*/
select#Icon,
.select2 span[aria-labelledby="select2-Icon-container"],
select#Color,
.select2 span[aria-labelledby="select2-Color-container"]{
    padding-left: 30px !important;
}
i.fa-icons.fa {
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 22px;
    font-size: 18px;
}

/*TABS ABAS*/

.nav-tabs-custom {
    box-shadow: none;
}
.nav.small>li>a {
    font-size: 12px;
    padding: 4px 10px;
}
.nav-tabs-custom >.tab-content {
    background: #fdfdfd;
    padding: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
.nav-tabs-custom >.nav-tabs>li.active {
    border-top-width: 2px;
    border-left: 1px solid #f4f4f4;
}
.nav-tabs-custom>.nav-tabs>li.active>a,
.nav-tabs-custom>.nav-tabs>li.active:hover>a {
    background: #fdfdfd;
}

/*SPECIALS*/
.line-hight-12 {
    line-height: 12px;
}
.margin-t-5 {
    margin-top:5px;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.fontlayout {
    font-family: "Peugeot";
}
.no-background {
    background: none !important;
    background-color: transparent !important;
}
.no-nowrap {
    white-space: normal;
}
.normal {
    font-size: 100%;
}
.smaller {
    font-size: 75%;
}
.label.label-black{
    background-color: #0a0a0a;
    color: #fbfbfb;
}
.label.label-normal {
    font-size: 100%;
    font-weight: normal;
}
.label.label-normal span canvas {
    vertical-align: sub !important;
}
.badge.small {
    font-size: 10px;
}
.no-radius {
    border-radius: 0;
}
.highlight {
    background-color: #FAFFBD !important;
}
.to-hide {
    visibility: hidden;
}
tr:hover .to-hide {
    visibility: visible;
}
span.required{
    color:red;
}

i[data-insert]:hover{
    cursor: pointer;
}

h1.sub-title,h2.sub-title,h3.sub-title,h4.sub-title,h5.sub-title,h6.sub-title {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom:0;
    border-left: 3px solid #3c8dbc;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 5px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0;

}
.skin-green .sub-title {
    border-left-color: #00a65a;
}

.sub-title.b {
    border: 0;
    margin-bottom: 10px;
    margin-top: 0;
}

.ShowAttributes .sub-title,
.sub-title.simple {
    border-top:0;
    border-right:0;
    margin-bottom: 10px;
}

div.sub-title-container {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top:0;
    padding: 15px;
}

/*COLORS*/
.Branco{color:#fff}
.Azul{color:#3c8dbc}
.Verde{color:#00a65a}
.Laranja{color:#ff851b}
.Vermelho{color:#f56954}
.Roxo{color:#605ca8}
.Marrom{color:#571f12}
.Cinza{color:#808080}
.Preto{color:#111111}

.bg-white{background-color:#fff !important;}
.bg-dark{background-color:#000 !important;}
.bg-dark-60{background-color:#444 !important;}
.bg-transparency{background-color: rgba(68, 68, 68, 0.2) !important;}

.muito-baixo{border-color:darkgreen !important;}
.baixo{border-color:#00a65a !important;}
.moderado{border-color:gold !important;}
.alto{border-color:orangered !important;}
.muito-alto{border-color:red !important;}

.bg-muito-baixo{background-color:darkgreen !important; color: #fbfbfb !important;}
.bg-baixo{background-color:#00a65a !important; color: #fbfbfb !important;}
.bg-moderado{background-color:gold !important; color: #fbfbfb !important;}
.bg-alto{background-color:orangered !important; color: #fbfbfb !important;}
.bg-muito-alto{background-color:red !important; color: #fbfbfb !important;}

.ativo{border-color:#00a65a !important;}
.inativo{border-color:#555 !important;}

/*
 * Component: Sidebar Mini (ALTERADO PARA NÃO APARECER O MINI-SIDEBAR)
 */
@media (min-width: 768px) {
    /*.sidebar-mini.sidebar-collapse .content-wrapper,*/
    /*.sidebar-mini.sidebar-collapse .right-side,*/
    /*.sidebar-mini.sidebar-collapse .main-footer {*/
    /*margin-left: 0 !important;*/
    /*z-index: 0;*/
    /*}*/
    /*.sidebar-mini.sidebar-collapse .main-sidebar {*/
    /*-webkit-transform: translate(0, 0);*/
    /*-ms-transform: translate(0, 0);*/
    /*-o-transform: translate(0, 0);*/
    /*transform: translate(0, 0);*/
    /*width: 0 !important;*/
    /*z-index: 0;*/
    /*}*/

    /*.sidebar-mini.sidebar-collapse .user-panel {*/
    /*padding: 0;*/
    /*}*/
    /*.sidebar-mini.sidebar-collapse .user-panel img {*/
    /*-webkit-transform: translate(0, 0);*/
    /*-ms-transform: translate(0, 0);*/
    /*-o-transform: translate(0, 0);*/
    /*transform: translate(0, 0);*/
    /*width: 0 !important;*/
    /*z-index: 0;*/
    /*}*/
}

/*LEFT MENU*/

.sidebar-menu>li:last-child {
    margin-bottom: 50px;
}
.sidebar-menu .treeview-menu>li>a {
    padding: 5px 5px 5px 20px;
    font-size: 12px;
}
.sidebar-menu li>a>.pull-right-container {
    right: 15px;
}
@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
        width: 225px;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
        left: 240px !important;
    }
}



/*EFFECTS*/
.flash {
    -moz-animation: flash 1s ease-out;
    -moz-animation-iteration-count: 5;

    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: 5;

    -ms-animation: flash 1s ease-out;
    -ms-animation-iteration-count: 5;
}
.flash-loop {
    -moz-animation: flash 1s ease-out;
    -moz-animation-iteration-count: infinite;

    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: infinite;

    -ms-animation: flash 1s ease-out;
    -ms-animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #FAFFBD; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #FAFFBD; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #FAFFBD; }
    100% { background-color: none; }
}


.h-header{
    background-color: #fff;
    border-top: 3px solid #3c8dbc;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px;
    border-radius: 2px 0 0 2px ;
}
.in-box{
    background-color: #f5f5f5;
    padding: 10px;
}
.btn-app.simple{
    padding: 5px !important;
    height: auto !important;
}
.no-margin{
    margin: 0px !important;
}
.no-margin-top{
    margin-top: 0px !important;
}
.no-margin-bottom{
    margin-bottom: 0px !important;
}

/*BOX*/
.box-body table{
    width: 100%;
}
.btn-box-tool.primary {
    color:#3c8dbc;
}
.btn-box-tool.shadow .fa {
    text-shadow: 1px 1px 1px 1px #aaa;
}

.box-footer {
    margin-top:30px;
}

.box-default {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    border-radius: 1px;
    box-shadow: none;
}

/*MODAL*/
.modal.default .modal-header {
    padding: 10px 15px;
    background-color: #81b5d4;
    color:#fbfbfb;
}
.skin-green .modal.default .modal-header {
    background-color: #00a65a;
}
.modal.default .modal-header .close {
    margin-top: 2px;
}

.confirm .modal-header {
    background-color: #f56954;
    color:#fbfbfb;
}
.modal-header .fa {
    margin-right:10px;
}
.modal-very-lg{
    width: 90%;
}

/*JSTREE*/
.jstree-default .jstree-wholerow-hovered,
.jstree-default .jstree-hovered {
    background: aliceblue;
}
.jstree-default .jstree-wholerow-clicked,
.jstree-default .jstree-clicked {
    background: #dcf4ff;
}
#jstree:not(.no-active) .jstree-default .jstree-wholerow-clicked,
#jstree:not(.no-active) .jstree-default .jstree-clicked {
    border-left: 2px solid #3c8dbc;
    background: -webkit-linear-gradient(top,aliceblue 0,aliceblue 100%);
    background: linear-gradient(to bottom,aliceblue 0,aliceblue 100%);
}
.jstree-default .jstree-search {
    color: darkblue;
}

li.root-perimeter > a {
    font-weight: bold;
}

li.root-perimeter > .jstree-icon.jstree-ocl {
    display: none;
}
li.root-perimeter > ul.jstree-children > li.jstree-node {
    margin-left: 0 !important;
}

.jstree-anchor[data-type="perimeter"] {
    font-weight: bold;
}

/*SLIDER*/
.slider {
    width: 100% !important;
}
.slider.slider-horizontal {
    margin-top: 3px;
    height: 24px;
}
.slider.slider-horizontal .slider-track {
    height: 5px;
    margin-top: -2px;
}
.slider-track,
.slider-selection,
.slider-track-low,
.slider-track-high {
    border-radius: 0;
}
.slider-handle {
    top: 2px;
    background-image: -webkit-linear-gradient(top,#fbfbfb 0,#ddd 100%);
    background-image: -o-linear-gradient(top,#fbfbfb 0,#ddd 100%);
    background-image: linear-gradient(to bottom,#fbfbfb 0,#ddd 100%);
    box-shadow: 1px 1px 1px 1px #aaa;
}
.form-group.colorScale {
    padding: 0 10px 0 10px;
    margin-bottom: 18px;
}
.form-group.colorScale .slider {
    /*background-image: url('../img/icon/color-scale.png');*/
    /*background-repeat:no-repeat;*/
    /*background-size:contain;*/
    /*background-position:center;*/
    border-radius: 2px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(left, rgb(0, 100, 0) 0%, rgb(255, 215, 0) 50%, rgb(255, 0, 0) 100%);
    background: -webkit-gradient(linear,left top, right top, color-stop(0%, rgb(0, 100, 0)), color-stop(50%, rgb(255, 215, 0)), color-stop(100%, rgb(255, 0, 0)));
    background: -webkit-linear-gradient(left, rgb(0, 100, 0) 0%, rgb(255, 215, 0) 23%, rgb(255, 0, 0) 100%);
    background: -o-linear-gradient(left, rgb(0, 100, 0) 0%, rgb(255, 215, 0) 50%, rgb(255, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgb(0, 100, 0) 0%, rgb(255, 215, 0) 50%, rgb(255, 0, 0) 100%);
    background: linear-gradient(to right, rgb(0, 100, 0) 0%, rgb(255, 215, 0) 50%, rgb(255, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006400', endColorstr='#FF0000', GradientType=1 );
}
.form-group.colorScale label {
    margin-left:-10px;
}



/*RISCOS E CONTROLES*/
div.risco {
    width: 22px;
    height: 22px;
    background-color: #444;
    color: #fbfbfb;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
}
div.risco-title {
    width: calc(100% - 110px);
    height: 22px;
    background-color: #f1f1f1;
    text-align: left;
    font-size: 14px;
    display: inline-block;
    margin-bottom:0;
}
div.risco-title a {
    margin-left:13px;
    color: #666;
    font-size: 12px;
    font-weight: bold;
}
div.risco span a{
    color: #fbfbfb;
    /*display: none;*/
    /*color: inherit;*/
}
div.risco:hover a{
    /*display: inherit;*/
}

div.controle {
    width: 22px;
    height: 22px;
    background-color: #808080;
    color: #fbfbfb;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
}
div.risco.muito-baixo,div.controle.muito-baixo {background-color:darkgreen !important;}
div.risco.baixo,div.controle.baixo{background-color:#00a65a !important;}
div.risco.moderado,div.controle.moderado{background-color:gold !important;}
div.risco.alto,div.controle.alto{background-color:orangered !important;}
div.risco.muito-alto,div.controle.muito-alto{background-color:red !important;}

div.controle a{
    display: none;
    color: inherit;
}
div.controle:hover a{
    display: inherit;
}
div.controle span {
    vertical-align: middle;
}
div.controle-title {
    width: calc(100% - 110px);
    height: 22px;
    background-color: #f1f1f1;
    text-align: left;
    font-size: 14px;
    display: inline-block;
    margin-bottom:0;
}

div.controle-title a {
    margin-left:13px;
    color: #666;
    font-size: 12px;
    font-weight: normal;
}

ul.lista-controle {
    margin-bottom: 10px;
}
ul.lista-controle li {
    margin-top:0;
    background-color: #f1f1f1;
}
ul.lista-controle li:hover div.controle-title {
    background-color: #FAFFBD !important;
}

ul.lista-risco {
    margin-top: 6px;
    font-size: 0;
}
ul.lista-risco li {
    margin-top:0;
    background-color: #f1f1f1;
}
ul.lista-risco li:hover div.risco-title {
    background-color: #FAFFBD !important;
}

ul.lista-risco ul.lista-controle {
    margin-left: 0;
    font-size: 0;
}

ul.lista-controle{
    padding-left: 0;
}

li.controle div.controle.probabilidade,
li.controle div.controle.severidade,
li.controle div.controle.relevancia {
    cursor: pointer;
}
li.controle div.controle.editing {

}

div#nivel-controle {
    position: fixed;
    background-color: #fdfdfd;
    border: 1px solid #efefef;
    border-left:0;
    box-shadow: -1px -1px 6px #aaa;
    z-index: 999;
    border-radius: 1px;
    width: 300px;
}

div#nivel-controle .form-group {
    margin:10px;
}

div#nivel-controle button.close {
    padding: 2px;
    margin-top: -3px;
}

div.cubetip {
    display: none;
    width: 0;
    height: 0;
    background-color: transparent;
    border: 2px solid white;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
}

ul.lista-risco.vulnerabilidades .risco-title {
    width: calc(100% - 88px);
}

/*LEGENDA RISCOS CONTROLES*/
div.label.muito-baixo{background-color:darkgreen !important;}
div.label.baixo{background-color:#00a65a !important;}
div.label.moderado{background-color:gold !important;}
div.label.alto{background-color:orangered !important;}
div.label.muito-alto{background-color:red !important;}

/*OVERLAY*/
div .overlay {
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div .overlay .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

/*KNOB*/
input.dial.small {
    font-size: 8px !important;
    margin-left: -25px !important;
}

/*AVALIAÇÃO RISCO & COMPLIANCE*/
.accept-risk.active,
.accept-risk.active.disabled,
.accept-compliance.active,
.accept-compliance.active.disabled {
    background-color: #00a65a;
    color: #fbfbfb;
    border-color: rgba(0,0,0,0.1);
}
.treat-risk.active,
.treat-risk.active.disabled,
.treat-compliance.active,
.treat-compliance.active.disabled {
    background-color: #00c0ef;
    color: #fbfbfb;
    border-color: rgba(0,0,0,0.1);
}

.info-box-icon.inner {
    position: absolute;
    /*bottom:0;*/
    /*right:0;*/
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    background: rgba(0,0,0,0.2);
}
.info-box-icon.inner.bottom {
    left: 80px;
    bottom: 15px;
}
.info-box-icon.box-round {
    border-radius: 50%;
    left: 17px;
    top: 2px;
}

/*DRAG AND DROP*/
.droppable {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.04);
}
.draggable {
    padding-left: 2px;
    border-left: 8px solid rgba(0, 0, 0, 0.1);
    cursor: move;
}
.droppable.active {
    border: 1px dashed #3c8dbc;
    background-color: #FAFFBD;
}

/*COMPLIANCE PAGE*/
input[data-control] {
    cursor: pointer;
}

.form-group.radio.quiz {
    margin-top:0;
    margin-bottom:15px;
}
.form-group.radio.quiz label {
    margin-right: 10px;
}
.quiz-item {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.01);
    border:1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
}
.quiz-item:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}

/*LOCKSCREEN*/
.lockscreen-name {
    text-align: center;
    font-weight: 600;
}
.lockscreen-image > img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/*MATERIAL DESIGN*/
.legenda-material .material-icons {
    vertical-align: text-bottom;
}

#box-container {
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#box-container .box {
    width: 400px;
    margin: 0 5px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

#box-container .box p,
#box-container .box h1,
#box-container .box h2,
#box-container .box h3,
#box-container .box h4,
#box-container .box h5,
#box-container .box h6,
#box-container .box a {
    white-space: normal;
    word-wrap: break-word;
}
#box-container .box .box-body {
    max-height: 500px;
    overflow-x: auto;
}

/*SCROLLBAR*/
/* width */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll-y::-webkit-scrollbar {
    height: 8px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #777;
}