<section class="content">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3><i class="fa fa-warning text-yellow"></i> Sem Aceso.</h3>
            <p>
                Você não tem acesso a página solicitada. <br>
                Você ainda porde <a href="/">Acessar esse link</a>, assim você será redirecionado para a página principal
            </p>
        </div>
    </div>
</section>