<aside class="control-sidebar control-sidebar-dark">
    <div class="sidebar-container">

        <ul class="control-sidebar-menu">

            <li>
                <a href="javascript:void(0)">
                    <i class="menu-icon fa fa-list bg-green"></i>

                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading">Item</h4>
                        <p>Atualizado em 01/01/2017</p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>