<footer class="main-footer" style="font-size: 11px">
    <div class="pull-right hidden-xs">
        <b>Version</b> <?=$this->Version()?>
    </div>
    <strong>Copyright &copy; 2017 <a href="http://app2b.me"><span class="text-black">APP</span><span class="text-orange bold">2</span><span class="text-black">B</span></a>.</strong>
</footer>