<?php
$usuario = $this->UsuarioLogado();
$projeto = $this->Projeto();
?>
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><?=$projeto['short']?></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><?=$projeto['long']?></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="javascript:void(0)" class="sidebar-toggle">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu pull-left">
            <ul class="nav navbar-nav">
                <li class="help-btn">
                    <a href="javascript:void(0)" id="module-title"></a>
                </li>
                <li>
                    <div class="checkbox icheck pausecarousel">
                        <label>
                            <input type="checkbox" id="PauseCarousel"> Pausar Carrossel
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav register-select-here">

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle">
                        <?=$this->ShowAttach($usuario['ProfileImage'],false,'user-image')?>
                        <span class="hidden-xs"><?=$usuario['Login']?></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>