<?php
$usuario = $this->UsuarioLogado();
$projeto = $this->Projeto();
?>
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><?=$projeto['short']?></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><?=$projeto['long']?></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <?=$this->ShowAttach($usuario['ProfileImage'],false,'user-image')?>
                        <span class="hidden-xs"><?=$usuario['Login']?></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <?=$this->ShowAttach($usuario['ProfileImage'],false,'img-circle')?>
                            <p>
                                <?=$usuario['Occupation']?>
                                <small>Membro desde <?=$usuario['DtCreated']?></small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/user/cadastro/<?=$usuario['Id']?>" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="<?=$this->basePath()?>/user/sair" class="btn btn-default btn-flat">Sair</a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)" onclick="lockIt()"><i class="fa fa-lock"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="menu-float-container">
    <a href="javascript:void(0)" class="menu-float show-menu-lateral btn btn-fab btn-raised"><i class="fa fa-bars"></i></a>
    <a href="javascript:void(0)" class="menu-float trigger-submit btn btn-info btn-fab btn-fab-mini btn-raised"><i class="fa fa-save"></i></a>
</div>