<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sentinel</title>
    <link rel="icon" href="/assets/img/logo/favicon.png" type="image/vnd.microsoft.icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/fontawesome/css/font-awesome.min.css">
    <!-- Material Design Icons -->
    <link rel="stylesheet" href="/assets/material-design/iconfont/material-icons.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/layout/plugins/select2/select2.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/assets/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/layout/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/assets/layout/dist/css/skins/skin-blue.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/assets/layout/plugins/iCheck/minimal/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/assets/layout/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/assets/layout/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Pace -->
    <link rel="stylesheet" href="/assets/layout/plugins/pace/pace.min.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/assets/layout/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/assets/layout/plugins/daterangepicker/daterangepicker.css">
    <!-- Datetime picker -->
    <link rel="stylesheet" href="/assets/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <!-- Timepicker -->
    <link rel="stylesheet" href="/assets/timepicker/jquery.timepicker.css">
    <!-- Durationpicker -->
    <link rel="stylesheet" href="/assets/durationpicker/duration-picker.min.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/assets/layout/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/assets/layout/plugins/datatables/dataTables.bootstrap.css">
    <!-- OpenLayers -->
    <link rel="stylesheet" href="/assets/openlayers/ol.css">
    <!-- JTree -->
    <link rel="stylesheet" href="/assets/jtree/css/style.min.css">
    <!-- Slider -->
    <link rel="stylesheet" href="/assets/layout/plugins/bootstrap-slider/slider.css">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="/custom/css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue">

<?= $this->render('mensagens') ?>

<div class="wrapper" style="background-color: #ecf0f5;">

    <div class="text-center" style="margin-top: 30px;">
        <img src="/assets/img/logo/Sentinel_Logo_Transparente_H100px.png" alt="" class="" height="80px" width="auto">
    </div>

    <?= $this->content; ?>
    <!-- /.content-wrapper -->
    <footer class="main-footer" style="margin-left: 0;">
        <div class="row">
            <div class="col-md-6">
                <strong>Copyright &copy; 2017 <a href="http://app2b.me">FIVE Solutions</a>.</strong>
            </div>
            <div class="col-md-6">
                <div class="pull-right hidden-xs">
                    <b>Version</b> <?= $this->Version() ?>
                </div>
            </div>
        </div>
    </footer>

    <?= $this->render('modals'); ?>

</div>

<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/assets/layout/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/assets/jquery/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<script src="/custom/js/sidebar-toggle.js"></script>

<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="/assets/raphael/raphael-min.js"></script>
<script src="/assets/layout/plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="/assets/layout/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/assets/layout/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/layout/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="/assets/layout/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="/assets/moment/moment.min.js"></script>
<script src="/assets/moment/moment-with-locales.js"></script>
<script src="/assets/layout/plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="/assets/layout/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/layout/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js"></script>
<!-- datetimepicker -->
<script src="/assets/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<!-- timepicker -->
<script src="/assets/timepicker/jquery.timepicker.min.js"></script>
<!-- Durationpicker -->
<script src="/assets/durationpicker/duration-picker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/assets/layout/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/assets/layout/plugins/bootstrap-wysihtml5/boostrap3-wysihtml5.pt-BR.js"></script>
<!-- Pace -->
<script src="/assets/layout/plugins/pace/pace.min.js"></script>
<!-- DataTables -->
<script src="/assets/datatable/jquery.dataTables.min.js"></script>
<script src="/assets/datatable/dataTables.bootstrap.min.js"></script>
<script src="/assets/datatable/dataTables.rowReorder.min.js"></script>

<!-- Slimscroll -->
<script src="/assets/layout/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/assets/layout/plugins/fastclick/fastclick.js"></script>
<!-- Slider -->
<script src="/assets/layout/plugins/bootstrap-slider/bootstrap-slider.js"></script>
<!-- AdminLTE App -->
<script src="/assets/layout/dist/js/app.min.js"></script>
<!-- Open Layers -->
<script src="/assets/openlayers/ol.js"></script>
<script src="/assets/openlayers/ol-custom.js"></script>

<!-- HighCharts -->
<script src="/assets/highcharts/highcharts.js"></script>
<script src="/assets/highcharts/hc-custom.js"></script>

<!--JTree-->
<script src="/assets/jtree/js/jstree.min.js"></script>

<!-- Select2 -->
<script src="/assets/layout/plugins/select2/select2.full.min.js"></script>

<!-- iCheck -->
<script src="/assets/layout/plugins/iCheck/icheck.min.js"></script>

<!-- Custom APP2B JS-->
<script src="/assets/jquery-mask/jquery.mask.js"></script>
<script src="/assets/jquery-mask/jquery-number.js"></script>
<script src="/assets/jquery-mask/jquery.maskMoney.min.js"></script>
<script src="/custom/js/active-menu.js"></script>
<script src="/custom/js/reorder-table.js"></script>
<script src="/custom/js/abstract-controller.js"></script>
<script src="/custom/js/loading-screen.js"></script>
<script src="/custom/js/custom.js"></script>
<script src="/custom/js/sentinel.js"></script>
</body>
</html>
