<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>APP2B</title>
    <link rel="icon" href="/assets/img/icon/fav.png" type="image/vnd.microsoft.icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/fontawesome/css/font-awesome.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/layout/plugins/select2/select2.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/assets/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/layout/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/assets/layout/dist/css/skins/skin-yellow.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/assets/layout/plugins/iCheck/flat/yellow.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/assets/layout/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/assets/layout/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Pace -->
    <link rel="stylesheet" href="/assets/layout/plugins/pace/pace.min.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/assets/layout/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/assets/layout/plugins/daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/assets/layout/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/assets/layout/plugins/datatables/dataTables.bootstrap.css">
    <!-- OpenLayers -->
    <link rel="stylesheet" href="/assets/openlayers/ol.css">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="/custom/css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-yellow sidebar-mini">

<div class="wrapper">
    <div class="content-wrapper">
        <?= $this->content; ?>
    </div>
</div>

<!--DE USO DA FUNÇÃO REAIS-->
<input type="hidden" name="CampoMoneyAuxiliar" id="CampoMoneyAuxiliar" data-mask="money" value="">
<input type="hidden" name="CampoPorcentagemAuxiliar" id="CampoPorcentagemAuxiliar" data-mask="percentage" value="">

<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/assets/layout/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/assets/jquery/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<script src="/custom/js/sidebar-toggle.js"></script>

<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="/assets/raphael/raphael-min.js"></script>
<script src="/assets/layout/plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="/assets/layout/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/assets/layout/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/layout/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="/assets/layout/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="/assets/moment/moment.min.js"></script>
<script src="/assets/layout/plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="/assets/layout/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/layout/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/assets/layout/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/assets/layout/plugins/bootstrap-wysihtml5/boostrap3-wysihtml5.pt-BR.js"></script>
<!-- Pace -->
<script src="/assets/layout/plugins/pace/pace.min.js"></script>
<!-- DataTables -->
<script src="/assets/layout/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/layout/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="/assets/layout/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/assets/layout/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/assets/layout/dist/js/app.min.js"></script>
<!-- Open Layers -->
<script src="/assets/openlayers/ol.js"></script>
<script src="/assets/openlayers/ol-custom.js"></script>

<!-- Select2 -->
<script src="/assets/layout/plugins/select2/select2.full.min.js"></script>

<!-- Custom APP2B JS-->
<script src="/assets/jquery-mask/jquery.mask.js"></script>
<script src="/assets/jquery-mask/jquery-number.js"></script>
<script src="/assets/jquery-mask/jquery.maskMoney.min.js"></script>
<script src="/custom/js/abstract-controller.js"></script>
<script src="/custom/js/custom.js"></script>
<script src="/custom/js/delivery.js"></script>
</body>
</html>
