<?php $usuario = $this->UsuarioLogado(); ?>

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <?=$this->ShowAttach($usuario['ProfileImage'],false,'img-circle')?>
            </div>
            <div class="pull-left info">
                <p><?=$usuario['Login']?></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu">

            <li class="header">MENU PRINCIPAL</li>

            <li class="treeview" data-menu="index">
                <a href="/">
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>
            <li><a href="/tribunal"><i class="fa fa-gavel"></i> Tribunal</a></li>
            <li><a href="/tribunal-pesquisa"><i class="fa fa-search"></i> Pesquisa de Palavras</a></li>
            <li><a href="/tribunal-processo"><i class="fa fa-book"></i> Processos</a></li>

            <li class="treeview" data-menu="users">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Usuários</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="" data-menu="index"><a href="/user"><i class="fa fa-circle"></i> Listar</a></li>
                    <li class="" data-menu="cadastro"><a href="/user/cadastro"><i class="fa fa-circle"></i> Cadastro</a></li>
                    <li class="" data-menu="cadastro"><a href="/group"><i class="fa fa-circle"></i> Grupo de Usuários</a></li>
                </ul>
            </li>

            <li class="treeview" data-menu="index">
                <a href="/cronograma/Cronograma.pdf" target="_blank">
                    <i class="fa fa-clock-o"></i> <span>Cronograma</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>