<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <ul class="sidebar-menu">

            <li class="header">MENU PRINCIPAL</li>

            <li class="treeview" data-menu="PageHome">
                <a href="/video-wall">
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>

            <li class="treeview" data-menu="PageObject">
                <a href="/video-wall/object">
                    <i class="fa fa-cubes"></i> <span>Objetos</span>
                </a>
            </li>

            <li class="treeview" data-menu="PageRiskProject">
                <a href="/video-wall/risk-project">
                    <i class="fa fa-repeat"></i> <span>Projeto de Risco</span>
                </a>
            </li>

            <li class="treeview" data-menu="PageComplianceProject">
                <a href="/video-wall/compliance-project">
                    <i class="fa fa-certificate"></i> <span>Projeto de Conformidade</span>
                </a>
            </li>

            <li class="treeview" data-menu="PageTicket">
                <a href="/video-wall/ticket">
                    <i class="fa fa-edit"></i> <span>Tickets</span>
                </a>
            </li>

            <li class="treeview" data-menu="PageAttempted">
                <a href="/video-wall/attempted">
                    <i class="fa fa-check-circle-o"></i> <span>Atestação</span>
                </a>
            </li>

            <li class="treeview" data-menu="PageContract">
                <a href="/video-wall/contract">
                    <i class="fa fa-suitcase"></i> <span>Contratos</span>
                </a>
            </li>

            <li class="treeview" data-menu="PageBcm">
                <a href="/video-wall/bcm">
                    <i class="fa fa-refresh"></i> <span>GCN</span>
                </a>
            </li>

            <li class="treeview" data-menu="PageReportDashboard">
                <a href="/video-wall/report-dashboard">
                    <i class="fa fa-pie-chart"></i> <span>Dashboard (Relatórios)</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>