<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=$this->Projeto()['long']?></title>
    <link rel="icon" href="/assets/img/logo/favicon.png" type="image/vnd.microsoft.icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/fontawesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/assets/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/layout/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/assets/layout/dist/css/skins/skin-green.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/assets/layout/plugins/iCheck/square/green.css">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="/custom/css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page skin-green">

<?= $this->content; ?>
<!-- /.login-box -->

<!-- jQuery 2.2.3 -->
<script src="/assets/layout/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/assets/jquery/jquery.cookie.js"></script>

<!-- Bootstrap 3.3.6 -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/assets/layout/plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });


        $('#Remember').on('ifChanged', function(event){
            if (event.currentTarget.checked) {
                var username = $('#Email').val();
                var password = $('#Password').val();
                // set cookies to expire in 14 days
                $.cookie('username', username, { expires: 14 });
                $.cookie('password', password, { expires: 14 });
                $.cookie('remember', true, { expires: 14 });
            } else {
                // reset cookies
                $.cookie('username', null);
                $.cookie('password', null);
                $.cookie('remember', null);
            }
        });

        var remember = $.cookie('remember');
        if ( remember == 'true' ) {
            var username = $.cookie('username');
            var password = $.cookie('password');
            // autofill the fields
            $('#Email').attr("value", username);
            $('#Password').attr("value", password);
            $('#Remember').iCheck('check');
        }

    });
</script>

</body>
</html>
