<div class="modal fade" id="modal-imagem">
	<div class="modal-dialog text-center">
		<div class="modal-content">
			<div class="modal-body">
                <img src="" alt="" class="img-responsive">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<a type="button" class="btn btn-danger excluir-imagem-link">Excluir</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal-confirma">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					<i class="fa fa-warning text-yellow"></i> Confirmação
				</h4>
			</div>
			<div class="modal-body">
				Não será possível reverter a ação, deseja continuar?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
				<a class="btn btn-danger btn-acao-confirma">Sim</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->