<?php
$controller = str_replace('manager-','',$this->controller);

$controller = ($controller)?$controller:'';
$action = (isset($this->action))?$this->action:'index';

$params = '';
if(isset($service) && method_exists($service,'getId') && $service->getId()){
    $action = 'Editar';
}

$lista = '/'.$controller;
$cadastro = '';
$menu = ($controller)?$controller.','.$action:$action;

?>

<?php if($controller) : ?>

<section class="content-header">

    <?php
        $btn = ['','arrow_back'];
    if($action == 'index'){
        $btn = ['/cadastro','add'];
    }
    if(!in_array($action,['index','cadastro'])) $action = $this->FriendlyName($action);
    ?>

    <?php
    $submenu = '';
    if($action == 'index') $submenu = $this->Submenu($service);
    ?>
    <a href="/<?=$controller.$btn[0]?>" class="btn btn-default btn-clear btn-lg" data-submenu='<?=$submenu?>'><i class="material-icons"><?=$btn[1]?></i></a>

    <h1>
        <?= $this->FriendlyName($controller) ?>
        <small><?= ($action=='index')?'':ucfirst($action) ?></small>
    </h1>

    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="<?= (!$action)?'active':'' ?>"><a href="<?=$lista?>"><?= $this->FriendlyName($controller) ?></a></li>
        <?php if($action != 'index') : ?>

            <li class="active"><?= ucfirst($action) ?></li>

        <?php endif; ?>
    </ol>
</section>

<?php endif; ?>

<div class="menu" data-menu="<?=$menu?>"></div>
