<!-- CONTENT START -->
<?php
   /** @var $form \Acl\Form\Service */
   /** @var $lista \Acl\Service\Service[] */
?>
<?=$this->render('page-header')?>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table table-bordered table-hover table-striped table-condensed datatable" data-table-obj="service">
                        <thead>
                            <tr>
                                <th class="hidden-xs hidden-sm" >Nome</th> 
                                <th class="hidden-xs hidden-sm" >Somente Proprietário</th> 
                                
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($lista as $item){  ?>
                                <tr data-href="/<?=$controller?>/cadastro/<?=$item->getId()?>">
                                    <td class=""><?=$item->getName()?></td> 
                                    <td class="hidden-xs hidden-sm"><?=$item->getLabelOwnerOnly()?></td> 
                                
                                </tr>
                            <?php }; ?>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>
<!-- CONTENT END -->