<form action="/abstract/save" class="abstract-form" id="abstract-form" data-table="<?=$table?>" data-callback="<?=$callback?>">
    <input type="hidden" name="service" value="<?=$service?>">
    <div class="row">
    <?php
        $i=0;
        $qtdElementos = count($form->getElements());
        $countElementos = 0;
        foreach ($form->getElements() as $item) {

            $countElementos++;

            if($item->getName() == $relField){
                $item->setLabel('');
                echo $this->formHidden($item);
                continue;
            }

        if($item->getName() == 'DT_UPDATE') continue; //AJUSTAR ISTO
        $required = ($item->getAttribute('required'))?'<span class="required"> *</span>':'';
        if($item->getAttribute('data-rel')){
            echo "<input type='hidden' id='{$item->getName()}' name='{$item->getName()}' value='{$parent}'>";
            continue;
        }
        if($item->getAttribute('data-show-abstract') !== null && $item->getAttribute('data-show-abstract') == false) continue;
        $col = 'col-md-6';
        ?>

        <?php if($item->getAttribute('type') == 'hidden') : ?>

            <?= $this->formRowNoLabel($item) ?>

        <?php else :?>

            <?php $col = ($item->getAttribute('col'))?$item->getAttribute('col'):'col-md-6'; ?>
            <div class="<?=$col?>">
                <?php if($item->getAttribute('data-insert')) : ?>

                    <?= $this->formRowNoLabel($item) ?>

                <?php else : ?>
                    <div class="form-group <?= ($item->getAttribute('data-special-class'))?$item->getAttribute('data-special-class'):'' ?>">
                        <?php if(!$item->getAttribute('data-disabled-label')) : ?>
                            <label class="control-label"><?=$item->getLabel().$required?></label>
                        <?php endif; ?>
                        <?= $this->formRowNoLabel($item) ?>
                    </div>
                <?php endif; ?>
            </div>

        <?php endif; ?>

    <?php }?>

        <div class="col-md-12 hide">
            <p class="text-muted small">* campo obrigatório</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group hidden-print pull-right">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                <?php if($id) : ?>
                    <a href="javascript:void(0)" data-resource="<?=$service?>" data-id="<?=$id?>" class="btn btn-danger btn-sm excluir-resource">Excluir</a>
                <?php else : ?>
                    <button type="reset" class="btn btn-default btn-sm">Limpar</button>
                <?php endif; ?>
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </div>
        </div>
    </div>

</form>