<form class="form-select-insert">
    <input type="hidden" name="callbackFiled" value="<?=$callbackField?>">
    <input type="hidden" name="serviceSend" value="<?=$service?>">

    <div class="box-body">
        <?php $i=0; foreach($form->getElements() as $chave => $formItem){
            if($chave == 'Id') continue;
            if($formItem->getAttribute('required') != 'required') continue;
            ?>
            <?php if($i==0){ ?> <div class="row"> <?php }; ?>
            <div class="<?=$formItem->getAttribute('col')?>">
                <div class="form-group">
                    <?php if($formItem->getValue()){
                        echo $this->formHidden($formItem);
                    }else{ ?>
                        <label class="control-label"><?=$formItem->getLabel()?> <?=($formItem->getAttribute('required') == 'required' ? '<span class="required">*</span>' : '')?></label>
                        <?=$this->formRowNoLabel($formItem);
                    }?>
                </div>
            </div>
            <?php if($i==1){ ?> </div> <?php };?>
            <?php if($i==1){$i=0;}else{$i++;}; ?>
        <?php }; ?>
        <?php if(!count($form->getElements()) % 2){ ?> </div> <?php };?>
    </div>
    <div class="box-footer">
        <div class="form-group hidden-print pull-right">
            <button type="submit" class="btn btn-primary" data-insert="true">Salvar</button>
        </div>
    </div>
</form>