<!-- CONTENT START -->
<?=$this->render('page-header')?>

<section class="content" id="PageGroup">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><?=($service->getId())?$service->getName():'Novo Registro'?></h3>
                    <?=$this->RegisterDetails($service)?>
                </div>
                <form class="" action="/<?=$controller?>/gravar" method="post" enctype="multipart/form-data">
                    <?=$this->formRowNoLabel($form->get('Id'))?>

                    <div class="box-body">
                        <div class="row">
                            <?php $tableRel = ''; $i=0; foreach($form->getElements() as $chave => $formItem){
                                if($chave == 'Id') continue;
                                if(preg_match('/TableRel-/',$formItem->getName())){
                                    $tableRel = $formItem;
                                    continue;
                                }
                                if($formItem->getAttribute('type') == 'hidden'){
                                    $formItem->setLabel('');
                                    echo $this->formHidden($formItem);
                                    continue;
                                }
                                ?>

                                <div class="<?=$formItem->getAttribute('col')?>">
                                <?php
                                    if($formItem->getAttribute('type') == 'checkbox'){
                                        echo $this->formRowNoLabel($formItem);
                                        continue;
                                    }
                                ?>
                                    <div class="form-group">
                                        <label class="control-label"><?=$formItem->getLabel()?> <?=($formItem->getAttribute('required') == 'required' ? '<span class="required">*</span>' : '')?></label>
                                        <?php if($formItem->getAttribute('ImageField') == true){
                                            $file = $service->get($formItem->getName());
                                            echo '<div>'.$this->ShowAttach($file, 'md').'</div>';
                                        } ?>

                                        <?=$this->formRowNoLabel($formItem, $service->getId())?>

                                        <?php if($formItem->getAttribute('FieldAnexo') == true){?>
                                            <br/>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <?php foreach($service->fetchAttach() as $anexo){?>
                                                        <?=$this->ShowAttach($anexo)?>
                                                    <?php };?>
                                                </div>
                                            </div>
                                        <?php }; ?>
                                    </div>
                                </div>
                            <?php }; ?>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <?php if($tableRel) : ?>
                                    <?=$this->formRowNoLabel($tableRel, $service->getId())?>
                                <?php endif; ?>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="sub-title">Permissões</h5>
                                <div>
                                    <?php foreach($service->getModulos() as $item){?>
                                        <label for=""><input type="checkbox" name="modulo[]" value="<?=$item['modulo']?>" <?=($item['meu']) ? 'checked' : ''?>><?=$item['modulo']?></label>
                                    <?php }; ?>
                                </div>
                            </div>
                        </div>

                        <?php if($service->getId()){?>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="sub-title">Usuários</h5>
                                    <div class="table-rel-container">
                                        <div class="row">
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6">
                                                <a href="#modal-users"  data-toggle="modal" class="btn btn-primary btn-fab btn-fab-mini btn-raised pull-right add-user" data-id="<?=$service->getId()?>"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-container">
                                            <table class="table table-bordered table-hover table-striped table-condensed  input-sm pop">
                                                <thead>
                                                    <tr>
                                                        <th>Nome</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php foreach($service->getUsers() as $user){?>
                                                        <tr>
                                                            <td><?=$user->getName()?> <a href="/group/remove/<?=$user->offsetData['ID_REL']?>"><i class="fa fa-minus-circle pull-right" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                    <?php }; ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php }; ?>

                    <?=$this->FormButtons($controller,$service)?>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- CONTENT END -->

<div class="modal fade" id="modal-users">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/group/add-user" method="post">
                <input type="hidden" value="<?=$service->getId()?>" name="IdGroup" required>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Adicionar Usuário</h4>
                </div>
                <div class="modal-body">
                    <?php foreach($service->getUserNotIn() as $user){?>
                        <label for=""><input type="checkbox" name="IdUser[]" value="<?=$user->getId()?>"> <?=$user->getName()?></label>
                        <br>
                    <?php }; ?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->