<table class="table table-condensed table-objects datatable small" data-table-obj="ticket-objects">
    <thead>
    <tr>
        <th class="icon">#</th>
        <th>Nome</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($list as $item){ ?>
        <tr>
            <td class="icon">
                <input type="checkbox" name="user[]" value="<?=$item->getId()?>">
            </td>
            <td>
                <?=$item->getName()?>
            </td>
            <td>
                <?=$item->getEmail()?>
            </td>
        </tr>
    <?php }; ?>
    </tbody>
</table>